doctype html

html(lang="en")
  head
    title 'Logistics and Research Simulator'
    link(href='bower_components/html5-boilerplate/css/normalize.css', rel='stylesheet')
    link(href='bower_components/html5-boilerplate/css/main.css', rel='stylesheet')
    link(href='index.css', rel='stylesheet')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/jquery-mousewheel/jquery.mousewheel.js')
    script(src='bower_components/socket.io-client/socket.io.js')
    script(src='compiled.js')
  body
    table
      tr
        td
          canvas#planets_view(width=1000, height=1000)
        td
          button#playpause Play/Pause
          table#planets_table