doctype html

html(lang="en")
    head
        title Logistics and Research Simulator
        link(href='index.css', rel='stylesheet')
        script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js')
        script(src='bundle.js')
    body
        table
            tr
                td
                    canvas#planets_view(width=1000, height=1000)
                td
                    button#playpause Play/Pause
                    table#planets_table