.idea/
target/

logs/
*.log

*.map

node_modules/
client/src/main/webapp/**/*.js
client/src/main/webapp/**/*.css
!client/src/main/webapp/**/slate-bootstrap.min.css
!client/src/main/webapp/systemjs.config.js
!client/src/main/webapp/systemjs-angular-loader.js
