.container {
   display: flex;
}

#system-table {

}

#system-table {

}

.body-button {
    width: 95%;
}

.body-row {
}

.body-row:hover {
    background-color: #464a51;
}

.body-location {
    padding: 0 6px 6px 0;
}